/* tipografías */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-principal: #12131A;
    --bg-card: #1c1f2a;
    --text-primary: #f2f2f7;
    --text-secondary: #b4b7c9;
    --violet: #c99dff;
    --orange: #ffb21e;
    --coral: #ff8a65;
    --btn: #2a2d3a;
}

body {
    background-color: var(--bg-principal);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Inter";
    color: var(--text-primary);
}

.card {
    background-color: var(--bg-card);
    width: 600px;
    height: 90vh;
    margin-top: 18px;
    padding: 10px;
    border-radius: 10px;
}

header div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 10px; margin-bottom: 10px;
}

.brand {
    align-items: center;
    text-align: center;
    gap: 8px;
}

.brand h2 {
    font-size: 16px;
    font-weight: 600;
    padding-top: 10px;
}

.logo {
    width: 24px;
    height: auto;
    margin-top: 10px;
}

.light {
    width: 26px;
    height: auto;
    padding: 5px;
}

.theme {
    background-color: var(--btn);
    width: 30px;
    height: 30px;
    border-radius: 15%;
    border: none;
    cursor: pointer;
}

.theme:hover {
    background-color: var(--bg-principal);
    border-color: none;
}

h1 {
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    padding-right: 42px; padding-left: 42px; padding-bottom: 15px;
    margin-top: 30px;
}

#text-input {
    margin: 10px 20px;
}

.text {
    display: flex;
    border-radius: 20%;
    justify-content: center;
    align-items: center;
    padding-bottom: 20px;
}

#text-input div textarea {
    width: 600px;
    height: 150px;
    background-color: var(--btn);
    border: none;
    color: var(--text-secondary);
    font-size: 15px;
    padding: 12px;
    border-radius: 10px; 
}

#text-input textarea:focus {
    outline: none;
}

.checkbox-p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 12px;
    color: var(--text-secondary);
}

.checkbox-p input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 13px;
    height: 13px;
    background-color: transparent;
    border: 1px solid var(--text-secondary); 
    border-radius: 3px; 
    display: inline-block;
    transform: translateY(2px);
    cursor: pointer;
    position: relative;
    margin-right: 3px;
}

input[type="checkbox"]:checked {
    background-color: var(--violet);
    border-color: var(--violet); 
}

.checkbox {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

#cards {
    margin: 30px 20px 20px;
}

#cards ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

#cards ul li h3 {
    font-size: 14px;
    font-weight: 400;
    color: var(--bg-principal);
}

#cards ul li span {
    font-size: 45px;
    font-weight: 600;
    color: var(--bg-principal);
}

#cards ul li {
    width: 160px;
    height: 100px;
    padding-left: 10px; padding-top: 10px;
}

.violet {
    background-color: var(--violet);
    border-radius: 12px;
}

.orange {
    background-color: var(--orange);
    border-radius: 12px;
}

.coral {
    background-color: var(--coral);
    border-radius: 12px;
}

#total-each {
    margin: 30px 20px 20px;
}

#total-each h3 {
    margin-bottom: 20px;
}

.fila-letra-vista, .fila-letra-hidden {
    display: flex;
    justify-content: space-between;
    align-items: left;
    text-align: left;
    gap: 5px;
}

.fila-letra-hidden {
    display: none;
}

progress {
    -webkit-appearance: none;
    appearance: none;
    width: 70%;
    height: 8px;
    border-radius: 100%;
}

progress::-webkit-progress-bar {
  background-color: var(--btn);
  border-radius: 10px;
}

progress::-webkit-progress-value {
  background-color: var(--violet); 
  border-radius: 10px;
}

progress::-moz-progress-bar {
  background-color: var(--violet);
  border-radius: 10px;
}
